
  <div class="tools">
    <%= link_to image_tag('exit.png', class:'toolbtn',title:'ログアウト'), destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %>
  </div>
  <div class="tools">
    <%= link_to image_tag('user.png', class:'toolbtn', title:'会員情報編集'),user_path(current_user.id) %>
  </div>
  <div class="tools">
  <% if unchecked_notifications.any? %>
    <div class='notification-mark'></div>
  <% end %>
    <%= link_to image_tag('notification.png', class:'toolbtn', title:'通知を見る'),notifications_path %>
  </div>