<div class='book-body'>
  <div class="book-top">
    <div class="book-left">
      <%= render "index" %>
    </div>
    <div class="book-right">
      <div class="index-views">
      </div>
       <div class="toolbar">
        <%= render "toolbar_index" %>
      </div>
    </div>
  </div> 
</div> 