<%= render "shared/header" %>

<div class="index-body">
<%# 左側 %>
  <%= render "index" %>
<%# 右側 %>
  <div class="right">
      
    <div class="index-views">
      
    </div>
  </div>
</div>

<%= render "shared/footer" %>

