<div class='back-body'>
  <div class="book">
    <div class="book-left">
      
    </div>

    <div class="book-right">
        
      
    </div>

  <%# フェードインアクション %>
    <%# <div class="start">
      <div class='start-log'>
        <%= image_tag "note.png" 
        <h1>My Notes</h1>
      </div>
    </div> %>
  </div> 
</div> 