<div class="my-comment">
  <div class="my-comments">
    <div class="comment-date">
        <%= comment.created_at.strftime('%m/%d %H:%M') %>
    </div>
    <div class="comment-content">
      <%= safe_join(comment.content.split("\n"),tag(:br)) %>
      <% if comment.user_id == current_user.id %>
        <%= link_to image_tag('garbage-box.png', class:'comment-toolbtn'),note_comment_path(comment.note_id, comment.id), 
        method: :delete, data: { confirm: 'コメントを削除しますか？' } %>
      <% end %>
    </div>
  </div>
</div>